@media(max-width: 986px) {
    .consultation {
        .title {
            font-size: 30px;
        }

        &__desc {
            font-size: 15px;
        }
    }
}

@media(max-width: 844px) {
    .promo {
        &__header {
            font-size: 35px;
        }

        &__subheader {
            font-size: 20px;
        }

        &__icons {
            width: 390px;
        }
    }

    .button {
        &_main {
            width: 280px;
        }
    }

    .advantages {
        &__icons {
            display: flex;
            flex-direction: column;
            gap: 25px;
            align-items: center;
        }
    }

    .consultation {
        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__desc {
            text-align: center;
        }

        .title {
            font-size: 25px;
            text-align: center;
        }
    }
}

@media(max-width: 792px) {
    .promo {
        &__wrapper {
            align-items: center;
        }
    }

    .header {
        &__official {
            display: none;
        }
    }

    .advantages {
        .title {
            font-size: 25px;
        }
    }
}

@media(max-width: 524px) {
    .header {
        &__logo {
            width: 200px;
        }

        &__phone {
            font-size: 15px;
        }

        .button {
            width: 140px;
        }
    }

    .promo {
        &__header {
            font-size: 30px;
        }

        &__subheader {
            font-size: 15px;
        }

        &__icons {
            width: 385px;
        }
    }
}

@media(max-width: 419px) {
    .promo {
        &__header {
            font-size: 27px;
        }

        &__subheader {
            font-size: 10px;
        }

        &__icons {
            width: 350px;
        }
    }

    .consultation {
        .title {
            font-size: 20px;
        }
    }
}

@media(max-width: 379px) {
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;

        &__contacts {
            // align-items: center;
            // gap: 10px;
            display: none;
        }
    }

    .promo {
        &__header {
            font-size: 24px;
        }

        &__subheader {
            font-size: 12px;
        }

        &__icons {
            width: 350px;
        }

        &__icon {
            font-size: 13px;
        }
    }

    .consultation {
        .title {
            font-size: 18px;
        }

        &__desc {
            font-size: 13px;
        }

        .button {
            &_submit {
                font-size: 14px;
            }
        }
    }

    .advantages {
        .title {
            font-size: 20px;
        }
    }
}

@media(max-width: 338px) {
    .promo {
        &__header {
            font-size: 20px;
        }

        &__subheader {
            font-size: 10px;
        }

        &__icons {
            width: 310px;
            // display: flex;
            // flex-direction: column;
            // align-items: center;
            // gap: 25px;
        }

        &__icon {
            font-size: 12px;
        }
        
        .button {
            &_main {
                width: 220px;
                height: 40px;
                font-size: 13px;
            }
        }

        &__link {
            font-size: 13px;
        }
    }

    .consultation {
        .title {
            width: 280px;
            font-size: 17px;
        }

        &__desc {
            width: 280px;
        }

        .feed-form {
            width: 250px;
        }
    }
}